{% extends "base.html" %}

{% block content %}

<h1>Ссылки на серии</h1>

<a href='https://www.ivi.ru/watch/klub_vinks' target="_blank">
    <h4> Первая сслыка на иви</h4>
</a>

<a href='http://mega-mult.ru/sbornik/vinks/347-klub_shkola_volshebnits.html' target="_blank"> 
    <h4>Вторая на мега мульт </h4>
</a>

<a href='https://onlinemultfilmy.ru/winx-club/' target="_blank">
    <h4> Еще на онлайн мультифлай</h4>
</a>

<a href='https://megogo.ru/ru/view/68721-klub-vinks-shkola-volshebnic.html' target="_blank">
    <h4 > И вот четвертая - мегого</h4>
</a>

<a class="btn btn-outline-danger" href="/" style='margin: 30px'>Главная</a>


{% endblock %}